<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Loco for the Coco</title>
    <link rel="stylesheet" href="css/lib/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/lib/magnific-popup.css">
    <link rel="stylesheet" href="css/coco.css" type="text/css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#block1">
                        <img src="img/cocoLogo.png" alt="Loco for the Coco" class="logo">
                    </a>
                    <p class="navbar-text"><a href="#block1" id="brand-text"> Coco Everything</a></p>
                    <!--<p class="navbar-text">Coco Everything</p>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#"></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#block2">ABOUT</a></li>
                    <li><a href="#block3">PRODUCTS</a></li>
                    <li><a href="#block4">GALLERY</a></li>
                    <li><a href="#block5">FOLLOW US</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="block" id="block1">
                    <h2 class="content sr-text">I'm in Love with the Coco</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="block" id="block2">
                    <h3 class="content2 sr-text">An <span>all natural</span> hair and skin care solution from Miami</h3>
                    <a class="readMore sr-text" href="#">Read our story</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="block" id="block3">
                    <div class="row" id="shop">
                        <div class="col-md-12">
                            <h2 class="title sr-text">Our Products</h2>
                            <hr class="divider">
                        </div>
                        <div class="col-sm-4">
                            <div class="product sr-image">
                                <img src="img/legscrub.png" alt="legscrub" class="img-responsive">
                                <hr>
                                <h5 class="subtitle">Cocoffee</h5>
                                <button class="btn btn-default btn-lg cartButton"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart</button>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product">
                                <img src="img/cocosuncopy2.jpeg" alt="cocosun" class="img-responsive">
                                <hr>
                                <h5 class="subtitle">Cocosun</h5>
                                <button class="btn btn-default btn-lg cartButton"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart</button>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product">
                                <img src="img/bodyscrub1.png" alt="bodyscrub" class="img-responsive">
                                <hr>
                                <h5 class="subtitle">Coconilla</h5>
                                <button class="btn btn-default btn-lg cartButton"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="block" id="block4">
                    <section class="no-padding" id="portfolio">
                        <div class="container-fluid">
                            <div class="row no-gutter popup-gallery">
                                <div class="col-md-12">
                                    <h2 class="title">Gallery</h2>
                                    <hr class="divider" id="galleryLine">
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <a href="img/bodyscrub1.png" class="portfolio-box">
                                        <div class="item-image sr-image"><img src="img/bodyscrub1.png" class="img-responsive" alt=""></div>
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Body Scrub
                                                </div>
                                                <div class="project-name">
                                                    Coconilla
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <a href="img/bothscrubs.png" class="portfolio-box">
                                        <div class="item-image sr-image"><img src="img/bothscrubs.png" class="img-responsive" alt=""></div>
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Body Scrub
                                                </div>
                                                <div class="project-name">
                                                    Cocoffee &amp; Coconilla
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <a href="img/cocobeach.jpg" class="portfolio-box">
                                        <div class="item-image sr-image"><img src="img/cocobeach.jpg" class="img-responsive" alt=""></div>
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Tanning Oil
                                                </div>
                                                <div class="project-name">
                                                    Cocosun
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <a href="img/cocoffee.png" class="portfolio-box">
                                        <div class="item-image sr-image"><img src="img/cocoffee.png" class="img-responsive" alt=""></div>
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Leg Scrub
                                                </div>
                                                <div class="project-name">
                                                    Cocoffee
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <a href="img/cocoffee2.png" class="portfolio-box">
                                        <div class="item-image sr-image"><img src="img/cocoffee2.png" class="img-responsive" alt=""></div>
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Leg Scrub
                                                </div>
                                                <div class="project-name">
                                                    Cocoffee
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <a href="img/coconilla.png" class="portfolio-box">
                                        <div class="item-image sr-image"><img src="img/coconilla.png" class="img-responsive" alt=""></div>
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Body Scrub
                                                </div>
                                                <div class="project-name">
                                                    Coconilla
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <a href="img/cocosun.jpeg" class="portfolio-box">
                                        <div class="item-image sr-image"><img src="img/cocosun.jpeg" class="img-responsive" alt=""></div>
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Tanning Oil
                                                </div>
                                                <div class="project-name">
                                                    Cocosun
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <a href="img/legscrub.png" class="portfolio-box">
                                        <div class="item-image sr-image"><img src="img/legscrub.png" class="img-responsive" alt=""></div>
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Leg Scrub
                                                </div>
                                                <div class="project-name">
                                                    Cocoffee
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <a href="img/sandcoco.png" class="portfolio-box">
                                        <div class="item-image sr-image"><img src="img/sandcoco.png" class="img-responsive" alt=""></div>
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Tanning Oil
                                                </div>
                                                <div class="project-name">
                                                    Cocosun
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="block" id="block5">
                    <h3 id="lastTitle" class="sr-text">We are Loco for our Coco</h3>
                    <hr class="divider">
                    <p id="lastSub">Get Loco with Us</p>
                    <ul class="list-inline sr-icon" id="social">
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></a></i>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></a></i>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></a></i>
                        </li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></a></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>


    <script src="js/lib/jquery-3.1.1.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/jquery.magnific-popup.min.js"></script>
    <script src="js/lib/scrollreveal.min.js"></script>
    <script src="js/coco.js"></script>
</body>

</html>